

p {
	color: white;
	text-shadow: navy 1px 0 10px;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	font-family: cursive;
	color:#3f3faf;
	/*border: solid 1px black;*/
	margin: 5px;
	background: linear-gradient(0.25turn, white, skyblue,);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
	padding: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

/* img {float: right;   } */

.weather-button {
    background-color: rgba(0, 0, 255, 0.1); 
    color: white;
    border: none;
    padding: 5px 5px;
    margin: 1px;
    cursor: pointer;
    border-radius: 2px;
}

.weather-button {
    background-color: rgba(0, 136, 255, 0.2); 
}

.button-container {
	background-color: rgba(173, 173, 175, 0.2); 
	float: right;
    margin-right: 20px;
}

th {

    background-color: rgba(173, 173, 175, 0.2); 
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;

}

td {

    background-color: rgba(173, 173, 175, 0.2); 
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
	
}

.elements{
	background-image: url('cloud-cloudy.jpg');background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
}


